{% extends "control_estudios/base.html" %}

{%block contenido%}
<div class="container">
    <div class="jumbotron mt-3">
      <h1 class="display-4">¡Bienvenido a mi sitio web!</h1>
      <p class="lead">Gracias por visitar la pagina, espero que disfrutes y conozcas mas sobre Python!</p>
      <hr class="my-4">
      <p>Este sitio web fue creado con Django y Bootstrap.</p>
      <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/plataforma-python/" role="button">Plataforma</a>
    </div>
  </div>
{%endblock contenido%}